header{
    height: 140px;
    display: flex;
    align-items: baseline;
    padding: 0 50px;
    background: #6f7987;

    position: fixed;
    top: 0;
    width: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}

.Logo{
    position: relative;
    width: 150px;
    height: 80px;

    transform: translateY(10px);
}

.Logo img{
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
}

.logo-hover{
    opacity: 0;
}

.Logo:hover .logo-normal{
    opacity: 0;
}

.Logo:hover .logo-hover{
    opacity: 1;
}

.header-left,
.header-right{
    width: 200px;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-left: 0px;
}

nav ul li a{
    position: relative;
    display: block;

    width: 120px;
    height: 25px;

    overflow: hidden;

    color: white;
    text-decoration: none;
    text-align: center;
}

.zh,
.en{
    display: block;
    transition: .3s;
}

.en{
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
}

nav ul li a:hover .zh{
    transform: translateY(-25px);
}

nav ul li a:hover .en{
    transform: translateY(-25px);
}

nav ul li a:hover{
    opacity: .7;
}

.banner{
    margin-top:0px;
    position: relative;
    z-index: 1;
}

.swiper-slide{
    text-align:center;
}


.swiper-slide img{
    width:100%;
    height:auto;
    display:block;
}

.swiper{
    position: relative;
}

.my-prev,
.my-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 60px;
    height: auto;

    opacity: .7;
    cursor: pointer;
    transition: .3s;

    z-index: 100;
}

.my-prev:hover,
.my-next:hover{
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
}

.my-prev{
    left: 30px;
}

.my-next{
    right: 30px;
}

.about{
    padding: 150px 0;
    text-align: center;
}

.about-content{
    color:#7a7a7a;
    font-size:18px;
    line-height:2;
    letter-spacing:8px;
}

.about-content p{
    margin:10px 0;
}

.about-title{
    text-align:center;
    margin-top:20px;
}

.about-title img{
    width:180px; /* 自行調整大小 */
    height:auto;
    display:block;
    margin:0 auto;
}

.about-title span{
    display:block;
    color:#b88a57;
    font-size:18px;
    letter-spacing:8px;
    margin-bottom:15px;
}



.product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 0;
}

.item{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
}

.item img{
    max-width:250px;
    height:auto;
}

body{
    padding-top:140px;
    margin: 0;
    background-color: #d7dbe1;
    font-family: "Microsoft JhengHei";
}

footer{
    background-color: #6f7987;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}



/* 平板 */
@media screen and (max-width:1024px){

    nav ul{
        gap:20px;
    }

    nav ul li a{
        width:90px;
        font-size:14px;
    }

}


@media screen and (max-width:768px){

    header{
        height:auto;
        flex-direction:column;
        padding:20px;
    }

    .header-left,
    .header-right{
        width:100%;
        justify-content:center;
    }

    nav{
        width:100%;
        margin-top:20px;
    }

    nav ul{
        flex-wrap:wrap;
        gap:10px;
    }

    nav ul li a{
        width:80px;
        font-size:12px;
    }

    .banner{
        margin-top:220px;
    }

    .swiper-slide img{
        height:300px;
    }

    .product{
        flex-direction:column;
        gap:30px;
    }

    .item{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .item img{
        width:80%;
        max-width:300px;
    }

    footer{
        flex-direction:column;
        text-align:center;
        gap:15px;
    }

}
